*{
  text-shadow: none !important;
}
:not(input):not(textarea):not(.m-mapea-container) {
   -webkit-user-select: none;
   -webkit-touch-callout: none;
}
a:link       {color:#3f3f3e; font-weight: bold}
a:visited    {color:#3f3f3e; font-weight: bold}
.ui-header .ui-title {
	margin-left: 2.5em;
	margin-right: 2.5em;
}
.ui-btn{text-align: left}
.ui-mini {font-size: 12px}

/*iconos de botones más cuadrados*/
[class*=ui-btn-icon-]:after{
  -webkit-border-radius: .4em !important;
  border-radius: .4em !important;
}

/*sin padding a todas menos #home*/
.ui-page:not(#home) .ui-content{padding:0}    /*[#ruta, #camino, #gps, #diario, #horas, #toponimo]*/

/*en los bloques quito el borde y el margen*/
[class*=ui-grid-] [class*=ui-block-]>.ui-btn,
[class*=ui-grid-] [class*=ui-block-]>.ui-select,
[class*=ui-grid-] [class*=ui-block-]>.ui-checkbox,
[class*=ui-grid-] [class*=ui-block-]>.ui-radio,
[class*=ui-grid-] [class*=ui-block-]>button.ui-btn-inline,
[class*=ui-grid-] [class*=ui-block-]>button.ui-btn-icon-notext,
.ui-collapsible-inset, .ui-collapsible-set,
.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset /*listas*/
{
  margin: 0;
  border: 0;
}
.ui-listview .ui-li-aside{
  top:0.1em;
}

/*paginas con dos combos*/
#ruta .ui-block-a, #horas .ui-block-a {width:60%!important}
#ruta .ui-block-b, #horas .ui-block-b {width:40%!important}
.noinfo {
	display: none;
	padding: 1em;
}

.subheader {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 6px;
  font-size: smaller;
  font-weight: normal;
}
/** content a 100% height para que el mapa ocupe toda la pantalla */
html,
body,
.ui-page {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

div.with_background {
  height: inherit;
  background: url("../img/background17v1.jpg") no-repeat center bottom;
  background-size: 100%, cover;
}

.ui-page,
.ui-page * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ui-page .ui-content {
  height: inherit;
}

/*GENERAR THEME*/
.ui-content {
  background-color: white;
}
.ui-page-theme-a .ui-bar-inherit{
  background-color: #00853e;
  color: white;
  border-color: #00853e;
}
.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:visited{
  background-color: #f6f6f6;
}
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
  background-color: #00853e;
}
.m-dialog.info div.m-message{
  text-align: center;
}
.m-dialog.info div.m-button>button, .m-dialog.info div.m-title {
    background-color: #00853e;
    color: white;
}
/***elimino estilos de seleccionado y activo ya que no interesan****/
.ui-btn:hover,
.ui-btn:active,
.ui-focus{
    background-color: #f6f6f6 !important;
    color: #000 !important; /*texto negro ya que cambia a blanco*/
}
.m-popup>div.m-content>div.m-body>div.m-geojson-content>div.result>table td.key {
  text-align: left !important;
}
.m-wmcselector-container{
   height: 21px!important;
}
/*bugs iOS*/
.m-areas>div.m-area>div.m-panel.m-map-info{
  visibility: visible!important;
}
/********************/

/* Avisos */
.lista-avisos{
  border: 3px black dashed;
  border-radius: 3px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.severity-high{
  background-color: red;
}
.severity-mid{
  background-color: orange;
}
.severity-low{
  background-color: green;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/*  */
