*{
  text-shadow: none !important;
}
:not(input):not(textarea):not(.m-mapea-container) {
   -webkit-user-select: none;
   -webkit-touch-callout: none;
}
a:link       {color:#3f3f3e; font-weight: bold}
a:visited    {color:#3f3f3e; font-weight: bold}
.ui-header .ui-title {
	margin-left: 2.5em;
	margin-right: 2.5em;
}
.ui-btn{text-align: left}
.ui-mini {font-size: 12px}

/*iconos de botones más cuadrados*/
[class*=ui-btn-icon-]:after{
  -webkit-border-radius: .4em !important;
  border-radius: .4em !important;
}

/*sin padding a todas menos #home*/
.ui-page:not(#home) .ui-content{padding:0}    /*[#ruta, #camino, #gps, #diario, #horas, #toponimo]*/

/*en los bloques quito el borde y el margen*/
[class*=ui-grid-] [class*=ui-block-]>.ui-btn,
[class*=ui-grid-] [class*=ui-block-]>.ui-select,
[class*=ui-grid-] [class*=ui-block-]>.ui-checkbox,
[class*=ui-grid-] [class*=ui-block-]>.ui-radio,
[class*=ui-grid-] [class*=ui-block-]>button.ui-btn-inline,
[class*=ui-grid-] [class*=ui-block-]>button.ui-btn-icon-notext,
.ui-collapsible-inset, .ui-collapsible-set,
.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset /*listas*/
{
  margin: 0;
  border: 0;
}
.ui-listview .ui-li-aside{
  top:0.1em;
}

/*paginas con dos combos*/
#ruta .ui-block-a, #horas .ui-block-a {width:60%!important}
#ruta .ui-block-b, #horas .ui-block-b {width:40%!important}
.noinfo {
	display: none;
	padding: 1em;
}

.subheader {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 6px;
  font-size: smaller;
  font-weight: normal;
}
/** content a 100% height para que el mapa ocupe toda la pantalla */
html,
body,
.ui-page {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

div.with_background {
  height: inherit;
  background: url("../img/background17v1.jpg") no-repeat center bottom;
  background-size: 100%, cover;
}

.ui-page,
.ui-page * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ui-page .ui-content {
  height: inherit;
}

/*GENERAR THEME*/
.ui-content {
  background-color: white;
}
.ui-page-theme-a .ui-bar-inherit{
  background-color: #00853e;
  color: white;
  border-color: #00853e;
}
.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:visited{
  background-color: #f6f6f6;
}
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
  background-color: #00853e;
}
.m-dialog.info div.m-message{
  text-align: center;
}
.m-dialog.info div.m-button>button, .m-dialog.info div.m-title {
    background-color: #00853e;
    color: white;
}
/***elimino estilos de seleccionado y activo ya que no interesan****/
.ui-btn:not(.lista-avisos):hover,
.ui-btn:active,
.ui-focus{
    background-color: #f6f6f6 !important;
    color: #000 !important; /*texto negro ya que cambia a blanco*/
}
.m-popup>div.m-content>div.m-body>div.m-geojson-content>div.result>table td.key {
  text-align: left !important;
}
.m-wmcselector-container{
   height: 21px!important;
}
/*bugs iOS*/
.m-areas>div.m-area>div.m-panel.m-map-info{
  visibility: visible!important;
}
/*con este cambio se eviata que no se muestre debido al bug de iOS con fixed, 
  pero la leyenda al perder el atributo de fixed, 
  si hay elementos por encima de ella no se muestra entera*/
  div.m-panel.m-layerswitcher.opened{
    position: unset !important; 
  }
/********************/

/* Avisos */
#home .lista-avisos{
  display: none
}
.lista-avisos {
  border: 3px black dashed!important;
  border-radius: 3px!important;
  color: white!important;
  padding: 5px!important;
}

#avisos .lista-avisos { 
  margin: 1em!important;
}
.severity-high{
  background-color: #f8d7da!important;
  border-color: #eeb6bc!important;
  color: #721c24!important;
}
.severity-mid{
  background-color: #fff3cd!important;
  border-color: #fae29c!important;
  color: #856404!important
}
.severity-low{
  background-color: #d4edda!important;
  border-color: #a7e7b6!important;
  color: #155724!important;
}

.closebtn {
  margin-left: 15px;
  color: #00853e;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/*  */

/* Ir allí */
#iralli{
  top: 4em;
  left: 0.2em;
  right: 0.2em;
  border-radius: 5px;
  text-align: center;
  padding: 0.3em;
  position: absolute;
  opacity: 0.8;
  background-color: rgb(207, 207, 204);
  z-index: 9998; /*encima del mapa pero debajo de los controles*/
}
#iralli a, #iralli a:visited, #iralli a:hover, #iralli a:active {
  color: #0000EE;
  font-weight: bold;
}
#iralli p{
  margin: 2px;
}
#toponimo .m-panel.m-layerswitcher.collapsed {
  margin-top: 110px;
}
/*  */

/* Mapea hacks */
.m-wmcselector-container, .m-scale-container{
  height: 21px!important;
}
/*  */


